{
  "name": "{{project_name}}",
  "version": "0.0.1",
  "description": "",
  "main": "index.js",
  "type": "module",
  "scripts": {
    "build": "tsc",
    "lint": "rome format .",
    "format": "rome format --write .",
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "@types/node": "^20.3.1",
    "rome": "^12.1.3",
    "typescript": "^5.1.3"
  }
}
